* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 65%; */
}

body {
    font-family: Roboto;
}

.app {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.header {
    text-align: center;
}