* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* overflow-x: hidden; */
}

body {
    font-family: Roboto;
}

.custom-container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-brand-custom {
    margin-right: auto;
    font-size: 2.4rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    font-size: 1.6rem;
    justify-self: center;
}

.btn-secondary-custom {
    border: 1px solid #337ab7;
}

.form-container {
    max-width: 60rem;
}

.form .form-control {
    height: auto;
    padding: 1rem;
    font-size: 1.6rem;
}

.control-label {
    font-size: 1.6rem;
}

.form-heading {
    text-align: center;
}

.custom-header {
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.welcome {
    font-size: 1.8rem;
}

.create-button {
    margin-bottom: 1.2rem;
}

table {
    table-layout: fixed;
    /* word-break: break-word; */
}

td {
    overflow: auto;
}

table,
td,
th {
    /* border: 1px solid #337ab7 !important; */
    padding: 1.2rem !important;
}