* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.app {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.header {
    text-align: center;
}

table,
td,
th {
    border: 1px solid #aaa;
    padding: 1.2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.welcome-and-logout {
    font-size: 1.8rem;
}