{% extends "bootstrap/base.html" %} {% block title %} Notes manager {% endblock %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}"> {% endblock %} {% block content %}
<div class="app">
    <header class="header">
        <h1>Notes manager</h1>
        <div class="welcome-and-logout">
            <span>Welcome, {{ name }}!</span> <a href="{{ url_for('logout') }}">Log Out</a>
        </div>

    </header>
    <table>
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>

        {% for note in notes %}
        <tr>
            <td>{{note.id}}</td>
            <td>
                {{note.content}}
            </td>
            <td>
                {% if note.isEncrypted == 1 %}
                <a href="/decrypt/{{note.id}}">Decrypt</a> {% else %}
                <a href="#">Share</a>
                <a href="/encrypt/{{note.id}}">Encrypt</a> {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}