{% extends "bootstrap/base.html" %}

{% block title %}
Notes manager
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
{% endblock %}

{% block content %}
<div class="app">
    <header class="header">
        <h1>Notes manager</h1>
    </header>
    <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sed quisquam sit, veniam quia maiores eaque exercitationem unde consequuntur consequatur molestias vel ab labore ad aperiam quibusdam velit. Quis, odit! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Sed impedit numquam enim quibusdam iste reprehenderit est natus itaque dolorem eum ab perspiciatis, modi illo fugiat laboriosam, soluta et mollitia reiciendis.
    </section>
</div>
{% endblock %}