{% extends "bootstrap/base.html" %} {% block title %} Notes manager {% endblock %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}"> {% endblock %} {% block navbar %}
<nav class="topnav">
    <ul>
        <li><a href="{{ url_for('index') }}">Notes</a></li>
        <li><a href="{{ url_for('signup') }}">Sign up</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
    </ul>
</nav>
{% endblock %} {% block content %}
<div class="app">
    <header class="header">
        <h1>Notes manager</h1>
        <div class="welcome-and-logout">
            <span>Welcome, {{ name }}!</span> <a href="{{ url_for('logout') }}">Log Out</a>
        </div>
    </header>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <a href="{{ url_for('create') }}">CreateNote</a>

    <table>
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>

        {% for note in notes %}
        <tr>
            <td>{{note.id}}</td>
            <td>
                {{note.content}}
            </td>
            <td>
                {% if note.isEncrypted == 1 %}
                <a href="/decrypt/{{note.id}}">Decrypt</a> {% else %}
                <a href="/makePublic/{{note.id}}">makePublic</a>
                <a href="/share/{{note.id}}">shareToUser</a>
                <a href="/encrypt/{{note.id}}">Encrypt</a> {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Public notes:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Content</th>
        </tr>

        {% for note in publicNotes %}
        <tr>
            <td>{{note.id}}</td>
            <td>
                {{note.content}}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Shared notes:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Content</th>
        </tr>

        {% for note in sharedNotes %}
        <tr>
            <td>{{note.id}}</td>
            <td>
                {{note.content}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}