{% include "layout.html" %}

{% extends "bootstrap/base.html" %} 

{% import "bootstrap/wtf.html" as wtf %} 

{% block title %} Share {% endblock %} 

{% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}" /> 
{% endblock %} 

{% block content %}
<div class="custom-container form-container">
    <form class="form" method="POST" action="/share/{{note.id}}">
        {{ form.hidden_tag() }} {{ wtf.form_field(form.username) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Share to user</button>
    </form>
</div>
{% endblock %}